{% extends "news/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
{% endblock %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Your shopping cart</h1>
        <table class="cart">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
{% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Product Image">
                                </a>
                            </td>
                            <td>{{ product.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td><a href="{% url 'cart:cart_remove' product.id %}" class="remove-btn">Remove</a></td>
                            <td class="num">${{ item.price }}</td>
                            <td class="num">${{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="num">${{ cart.get_total_price }}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url 'main:index' %}" class="button light">Continue shopping</a>
            <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
        </p>
    </div>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            color: #ccc;
            background-color: #2b2b2b;
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding-top: 60px; /* Отступ сверху для учета фиксированной навигационной панели */
        }
        .container {
            padding-top: 70px;
        }
        a {
            color: #ff7f50;
            text-decoration: none;
        }
        a:hover {
            color: #ffa07a;
            text-decoration: underline;
        }
        .navbar {
            background-color: #333;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #ccc;
            font-weight: 500;
            text-transform: uppercase;
        }
        .navbar-nav .dropdown-menu {
            right: 0;
            left: auto;
        }
        .top-menu li a::after {
            content: '';
            display: block;
            width: 100%;
            background-color: #ccc;
            height: 1px;
            transition: all .3s;
            transform: scale(0);
        }
        .top-menu li a:hover::after {
            transform: scale(1);
        }
        section {
            padding: 50px 0;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 2.5em;
            color: #111;
        }
        .cart {
            width: 90%;
            max-width: 1000px;
            margin: 100px auto 0 auto;
            border-collapse: collapse;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .cart thead {
            background-color: #111;
            color: #fff;
        }
        .cart th, .cart td {
            padding: 15px;
            text-align: center;
        }
        .cart tbody tr {
            border-bottom: 1px solid #ddd;
        }
        .cart tbody tr:hover {
            background-color: #f1f1f1;
        }
        .cart img {
            max-width: 100px;
            border-radius: 8px;
        }
        .cart .num {
            font-weight: bold;
        }
        .total {
            font-size: 1.2em;
            font-weight: bold;
            background-color: #f9f9f9;
        }
        .text-right {
            text-align: right;
        }
        .button {
            background-color: #00bbf9;
            color: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            margin: 10px 5px;
            display: inline-block;
        }
        .button:hover {
            background-color: #007bff;
        }
        .button.light {
            background-color: #f1f1f1;
            color: #000;
        }
        .button.light:hover {
            background-color: #ddd;
        }
    </style>
{% endblock %}