{% extends "news/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
{% endblock %}
{% block content %}
<div class="d-flex">
    <div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="true" aria-controls="collapseCategories">
                        Категории
                    </button>
                </h2>
                <div id="collapseCategories" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for category in categories %}
                            <a href="/catalog/{{ category.url }}/" class="category-link" data-category="{{ category.name }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-check">
            <form method="GET" action="">
                <input class="form-check-input" type="checkbox" id="liked_posts" name="liked_posts" {% if request.GET.liked_posts %}checked{% endif %}>
                <label class="form-check-label" for="liked_posts">
                    Понравившиеся посты
                </label>
                <button type="submit" class="btn btn-primary" style="background-color: #a86b03; border-color: #a86b03;">Применить</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for material in materials %}
                <div class="col-lg-4 col-md-6 mb-3"> <!-- Используйте col-md-6 для поддержки средних экранов -->
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="{{ material.get_absolute_url }}">
                                <img src="{{ material.image.url }}" alt="" class="img-fluid rounded" style="max-width: 100%;">
                            </a>
                        </div>
                        <div class="product-details">
                            <h4><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></h4>
                            <p>{{ material.description }}</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">{{ material.price }}</div>
                                <div class="product-links">
                                    {% if material.is_liked %}
                                        <a href="#" class="liked"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{% url 'main:like_material' material.id %}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                    <span class="like-count">{{ material.like_count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No materials found.</p>
            {% endfor %}
        </div>
                <!-- Пагинация -->
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="my-4">
                <ul class="pagination justify-content-center">
                    {% if materials.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.liked_posts %}&liked_posts=on{% endif %}">Первая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ materials.previous_page_number }}{% if request.GET.liked_posts %}&liked_posts=on{% endif %}">Предыдущая</a>
                        </li>
                    {% endif %}

                    {% for num in materials.paginator.page_range %}
                        {% if materials.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.liked_posts %}&liked_posts=on{% endif %}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if materials.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ materials.next_page_number }}{% if request.GET.liked_posts %}&liked_posts=on{% endif %}">Следующая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ materials.paginator.num_pages }}{% if request.GET.liked_posts %}&liked_posts=on{% endif %}">Последняя</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
<svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
    <defs>
        <style>
            @keyframes rotate {
					 0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .out-top {
                animation: rotate 20s linear infinite;
                transform-origin: 13px 25px;
            }
            .in-top {
                animation: rotate 10s linear infinite;
                transform-origin: 13px 25px;
            }
            .out-bottom {
                animation: rotate 25s linear infinite;
                transform-origin: 84px 93px;
            }
            .in-bottom {
                animation: rotate 15s linear infinite;
                transform-origin: 84px 93px;
            }
        </style>
    </defs>
    <path fill="#9b5de5" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
    <path fill="#f15bb5" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
    <path fill="#00bbf9" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
    <path fill="#00f5d4" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
</svg>
{% endblock content %}
{% block footer %}
    <footer>
        <div class="footer-content">
            <h3>Контакты</h3>
            <p>Телефон: +79206945165</p>
            <p>Email: bbd3372005@gmail.com</p>
            <p>Адрес: улица Трехсвятская д.14</p>
        </div>
        <div class="footer-content">
            <h3>Ссылки</h3>
            <ul>
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Услуги</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
