{% extends "news/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid my-carousel">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/3.jpeg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<section class="main-content">
    <div class="container" id="Catalog">
        <h2>Интересные предложения</h2>
        {% for material in post %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ material.get_absolute_url }}">
                            <img src="{{ material.image.url }}" alt="" class="img-fluid rounded" style="max-width: 100%; height: 150px; object-fit: cover;">
                        </a>
                    </div>
                    <div class="product-details">
                        <h4><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></h4>
                        <p>{{ material.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{ material.price }}
                            </div>
                            <div class="product-links">
                                {% if material.is_liked %}
                                    <a href="#" class="liked"><i class="fas fa-heart"></i></a>
                                {% else %}
                                    <a href="{% url 'main:like_material' material.id %}"><i class="far fa-heart"></i></a>
                                {% endif %}
                                <span class="like-count">{{ material.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.last or forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% empty %}
            <p>Материалы не найдены.</p>
        {% endfor %}

        <h2>Популярные предложения</h2>
        {% for material in populars %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ material.get_absolute_url }}">
                            <img src="{{ material.image.url }}" alt="" class="img-fluid rounded" style="max-width: 100%; height: 150px; object-fit: cover;">
                        </a>
                    </div>
                    <div class="product-details">
                        <h4><a href="{{ material.get_absolute_url }}">{{ material.title }}</a></h4>
                        <p>{{ material.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {{ material.price }}
                            </div>
                            <div class="product-links">
                                {% if material.is_liked %}
                                    <a href="#" class="liked"><i class="fas fa-heart"></i></a>
                                {% else %}
                                    <a href="{% url 'main:like_material' material.id %}"><i class="far fa-heart"></i></a>
                                {% endif %}
                                <span class="like-count">{{ material.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.last or forloop.counter|divisibleby:4 %}
                </div>
            {% endif %}
        {% empty %}
            <p>Популярные материалы не найдены.</p>
        {% endfor %}
    </div>
</section>
<svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
    <defs>
        <style>
            @keyframes rotate {
					 0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .out-top {
                animation: rotate 20s linear infinite;
                transform-origin: 13px 25px;
            }
            .in-top {
                animation: rotate 10s linear infinite;
                transform-origin: 13px 25px;
            }
            .out-bottom {
                animation: rotate 25s linear infinite;
                transform-origin: 84px 93px;
            }
            .in-bottom {
                animation: rotate 15s linear infinite;
                transform-origin: 84px 93px;
            }
        </style>
    </defs>
    <path fill="#9b5de5" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
    <path fill="#f15bb5" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
    <path fill="#00bbf9" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
    <path fill="#00f5d4" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
</svg>

{% endblock content %}

{% block footer %}
    <footer>
        <div class="footer-content" id="News">
            <h3>Контакты</h3>
            <p>Телефон: +79206945165</p>
            <p>Email: bbd3372005@gmail.com</p>
            <p>Адрес: улица Трехсвятская д.14</p>
        </div>
        <div class="footer-content">
            <h3>Ссылки</h3>
            <ul>
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Услуги</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Подписка на новости</h3>
            <form id="subscriptionForm" method="post" action="{% url 'main:import_contacts_and_send_email' %}">
                {% csrf_token %}
                <input type="email" id="emailInput" name="email" placeholder="Введите ваш email" required>
                <button type="submit">Подписаться</button>
            </form>

            <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
                <div class="toast-container position-absolute p-3 bottom-0 end-0" id="toastPlacement">
                    <div class="toast" data-autohide="false">
                        <div class="toast-header">
                            <strong class="me-auto">Уведомление</strong>
                            <small>Только что</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            Вы успешно подписались на обновления по почте.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
