{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Stroev-Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Catalog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="far fa-user"></i></a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="{% url 'register' %}">{{user.username}}</a></li>
							<li><a class="dropdown-item" href="{% url 'login' %}">Авторизация</a></li>
							<li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}" data-bs-toggle="modal" data-bs-target="#modal-cart">
							<i class="fas fa-shopping-cart"></i>
						</a>
						<div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header bg-secondary text-white">
										<h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<table class="table">
											{% for item in cart %}
											  {% with product=item.product %}
											<tbody>
												<tr>
													<a href="{{ product.get_absolute_url }}"><td>
														<img src="{% if product.image %}
                                    						{{ product.image.url }}
                                								{% else %}
                                    						{% static 'img/img.png' %}
                                								{% endif %}" alt=""></td></a>
													<td><a href="#">{{ product.title }}</a></td>
													<td>{{ item.price }}</td>
													<td>1</td>
												</tr>
											</tbody>
											  {% endwith %}
											{% endfor %}
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save changes</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fas fa-search"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<div class="post">
  <img src="{{ post.image.url }}" alt="Изображение поста">
  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>
  <p class="price">{{ post.price }}</p>
</div>
{% endblock content %}