html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/* Header */
.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
}
/* Header */

/* Carousel */
.my-carousel {
	padding: 0;
}

.my-carousel .carousel-item {
	display: flex;
	max-height: 500px;
}

.my-carousel .carousel-item img {
	object-fit: cover;
}
/* Carousel */

/* Product card */
.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
	display: inline-flex !important;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);

}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-links a {
	font-size: 20px;
	margin-left: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-content {
    margin: 0 20px;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li {
    margin-bottom: 5px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-content form input[type="email"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 5px;
}

.footer-content form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.footer-content form button:hover {
    background-color: #45a049;
}


.toastPlacement {
    right: 0; /* Позиционирование справа */
    bottom: 0; /* Позиционирование снизу */
}
.toast-body {
    color: black; /* Цвет текста в теле тоста */
}

/* Стили для кнопок пагинации */
.pagination .page-link {
    color: black; /* Цвет текста кнопки */
    background-color: white; /* Фон кнопки */
    border: 1px solid black; /* Граница кнопки */
}

.pagination .page-link:hover {
    color: white; /* Цвет текста при наведении на кнопку */
    background-color: black; /* Фон при наведении */
    border-color: black; /* Цвет границы при наведении */
}

.pagination .page-item.active .page-link {
    color: white; /* Цвет текста активной кнопки */
    background-color: black; /* Фон активной кнопки */
    border-color: black; /* Граница активной кнопки */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота всего документа равная высоте видимой области браузера */
}

footer {
    margin-top: auto; /* Отступ сверху футера должен быть "авто", чтобы он занимал оставшееся место внизу */
}
